body {
    margin: 0%;
    padding: 0%;
}

.main-div {
    margin: auto;
    padding: auto;
}

.list-player {
    width: 16.66%;
    background-color: #c4a1a1;
    color: rgb(0, 0, 0)
}

.dragteam1 {
    width: 16.66%;
    background-color: aquamarine;
}

.dragteam2 {
    width: 16.66%;
    background-color: rgb(214, 186, 144);
}

.dragteam3 {
    width: 16.66%;
    background-color: rgb(93, 161, 139);
}

.dragteam4 {
    width: 16.66%;
    background-color: rgb(221, 255, 127);
}

.dragteam5 {
    width: 16.66%;
    background-color: rgb(129, 158, 120);
}

.mydiv {
    background-color: rgb(201, 226, 160);
    color: blanchedalmond;
    width: 100%;
    height: 500px;
}

.teamh {
    height: 100vh;
}

p {
    color: rgb(0, 0, 0);
}

.player {
    background-color: bisque;
}